@media print {
  body {
    margin: 0;
    padding: 0;
  }

  #qr-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    page-break-inside: avoid;
  }

  #qr-list>div {
    page-break-inside: avoid;
  }

  button {
    display: none;
  }
}